@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
    transition: .3s all ease-in-out;
}

/* Switching Color Script */
:root{
    --primary-color: #10162a;
    --card-color: #10162a;
    --footer: #151d36;
    --button: #28d3ee;
    --text-button: #f3f3f3;
    --card-shadow: 28px 28px 56px #0b0f1d,
    -28px -28px 56px #151d37;
    --lumi: #28d3ee;
    --service: #fff;
    --link: #f3f3f3;
    --border: #46a6b4;
    --thumb: #17b5ce;
    --bg-thumb: #277d8a;
}

.dark-theme{
    --primary-color: #f3f3f3;
    --link: #474747;
    --lumi: #474747;
    --button: #474747;
    --text-button: #474747;
    --service: #474747;
    --card-shadow: 6px 6px 12px #cccccc,
    -6px -6px 12px #ffffff;
    --card-color: #f3f3f3;
    --footer: #d1cccc;
    --border: #474747;
    --thumb: #474747;
    --bg-thumb: #838282;
}

#icon {
    position: absolute;
    right: 70px;
    width: 25px;
    cursor: pointer;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--primary-color);
}

header{
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    background-color: var(--primary-color);
    height: 80px;
    z-index: 1;
}

header nav{
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
    width: 30%;
    /* background-color: aqua; */
    justify-content: space-between;
    align-items: center;
}

header nav ul li{
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    color: var(--link);
}

.logo{
    color: var(--lumi);
    font-size: 1.3em;
    cursor: pointer;
    font-weight: bold;
}

.BT{
    padding: 5px 20px;
    border-radius: 15px;
    background-color: #705edc;
    border: none;
    color: #f3f3f3;
    cursor: pointer;
}


/* HERO */

.ortu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.lumi{
    height: 400px;
    border-radius: 10px;
}

.hero-content{
    /* background-color: aquamarine;    */
    height: 88vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
}

.icon{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    /* background-color: aquamarine; */
    justify-content: center;
    height: 30%;
    width: 10%;
    color: var(--button);
}

.icon li{
    padding: 5px;
    font-size: 1em;
    cursor: pointer;
}

.icon li a{
    color: var(--button);
}

.icon li a:active{
    color: var(--button);
}

.desk{
    width: 30%;
    height: 50%;
    padding: 50px;
    /* background-color: aquamarine; */
}

.logo-2{
    font-size: 2em;
    color: var(--lumi);
    padding-bottom: 10px;
}

h4{
    padding-bottom: 10px;
}

p{
    padding-bottom: 10px;
}

h4, p{
    color: #808080;
}

.desk .BT-2{
    background-color: var(--button);
    border: 2px solid var(--button);
    padding: 15px 25px;
    border-radius: 5px;
    color: #f3f3f3;
    display: flex;
    align-items: center; 
    justify-content: center;
    /* padding-right: ; */
    cursor: pointer;
    transition: 0.5s ease all;
}

.desk .BT-2:hover{
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid var(--button);
    padding: 15px 25px;
    border-radius: 5px;
    color: var(--text-button);
    display: flex;
    align-items: center; 
    justify-content: center;
    /* padding-right: ; */
    cursor: pointer;
}

#sc{
    padding-left: 5px;
    font-size: 1.1em;
    margin-top: 2px;
    margin-left: 5px;
}


/* ABOUT */

.about{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.lumi-abt{
    height: 400px;
    border-radius: 10px;
}

.title{
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
}

.title h1{
    color: #f3f3f3;
    font-size: 2em;
}

.abt-isi{
    width: 80%;
    /* background-color: aquamarine; */
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
}

.abt-isi .text-abt{
    /* background-color: #352d61; */
    display: flex;
    flex-direction: column;
    /* height: 50%; */
    justify-content:center;
    width: 30%;
    text-align: center;
}

.abt-isi img{
    height: 400px;
    border-radius: 10px;
    /* box-shadow: -5px -5px 0px 0px #705edc,
    5px 5px 0px 0px #705edc; */
    /* object-fit: contain; */
}

.abt-isi .text-abt button{
    background-color: var(--button);
    border: 2px solid var(--button);
    padding: 15px 25px;
    border-radius: 5px;
    color: #f3f3f3;
    margin-top: 20px;
    /* padding-right: ; */
    cursor: pointer;
    transition: 0.5s ease all;
}

.abt-isi .text-abt button:hover{
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid var(--button);
    padding: 15px 25px;
    border-radius: 5px;
    color: var(--text-button);
    display: flex;
    align-items: center; 
    justify-content: center;
    /* padding-right: ; */
    cursor: pointer;
}


/* SERVICE */

.service{
    height: 100vh;
}

.service .card{
    height: 350px;
    width: 250px;
    background-color: var(--card-color);
    color: var(--button);
    display: flex;
    justify-content: end;
    /* align-items: center; */
    flex-direction: column;
    padding: 25px;
    /* padding-bottom: 50px; */
    margin-bottom: 10px;
    border-radius: 10px;
    border-radius: 35px;
    box-shadow: var(--card-shadow);
}

.card span{
    cursor: pointer;
}

.service .card h1{
    font-size: 2em;
    color: var(--service);
}

span{
    font-size: 1em;

}

.card .ic{
    font-size: 3em;
}

.card .edit{   
    /* background-color: #808080; */
    width: 50px;
}

.view{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* PROJECT */
.project{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 200px;
    margin-top: 60px;
}

.pro-container{
    border: 5px solid var(--border);
    width: 800px;
    height: 100vh;
    border-radius: 20px;
    margin: 50px auto;
}

.pro-container .jumbo{
    width: 800px;
    border-bottom: 2px solid var(--border);
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}

.thumbnail{
    margin-top: -7px;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
}

.thumb{
    width: 200px;
    border: 2px solid var(--border);
    box-sizing: border-box;
    transition: 0.3s all ease-in-out;
}

#bottom-left{
    border-bottom-left-radius: 13px;
}

#bottom-right{
    border-bottom-right-radius: 13px;
}

.thumb:hover{
    opacity: 0.5;
    cursor: pointer ;
}


/* FOOTER */

.footer{
    height: 10vh;
    background-color: var(--footer);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer h1{
    color: #705edc;
    font-size: 25px;
}

/* SCROLL BAR */

::-webkit-scrollbar{
    width: 8px;
    background-color: var(--bg-thumb);
}

::-webkit-scrollbar-thumb{
    background-color: var(--thumb) ;
    border-radius: 6px;
}

/* Image Gallery Animation */
@keyframes fade {
    to {
        opacity: 1;
    }
}

.fade{
    opacity: 0;
    animation: fade 0.5s forwards;
}

.active{
    opacity: 0.5;
}

